<%- include('../partials/header') %>

  <h1>edit recipe</h1>
  <form action="/recipes/<%= idx %>?_method=PUT" method="POST" autocomplete="off">
    <input type="text" name="recipe" value="<%= recipe.recipe %>">
    <button type="submit">save recipe</button>
  </form>

<%- include('../partials/footer') %>