<%- include('../partials/header') %>

<form class="new-recipe" class="new-form" action="/recipes" method="POST">
    <label>recipe:</label>
    <input type="text" name="recipe">
    <label>author:</label>
    <input type="text" name="author">
    <label>source:</label>
    <input type="text" name="source">
    <label>servings:</label>
    <input type="number" name="servings">
    <label>time to make:</label>
    <input type="text" name="time"></input>
    <label>ingredients:</label>
    <textarea type="text" name="ingredients" rows="15" cols="40"></textarea>
    <label>directions:</label>
    <textarea type="text" name="directions" rows="25" cols="40"></textarea>
    <div>
        <input class="recipes-buttons" type="submit" value="save recipe">
    </div>
    <div>
        <form class="new-form" action="../../" method="GET" autocomplete="off">
          <input class="recipes-buttons" href="/" type="submit" value="back to recipes">
        </form>
    </div>
</form>

<%- include('../partials/footer') %>
