<%- include('../partials/header') %>

<form class="show-page" class="new-form" action="/recipes" method="POST">
    <label>recipe:</label>
    <input type="text" name="recipe">
    <label>author:</label>
    <input type="text" name="author">
    <label>source:</label>
    <input type="text" name="source">
    <label>servings:</label>
    <input type="number" name="servings">
    <label>time to make:</label>
    <input type="text" name="time"></input>
    <label>ingredients:</label>
    <textarea type="text" name="ingredients"></textarea>
    <label>directions:</label>
    <textarea type="text" name="directions"></textarea>
    <label>notes:</label>
    <input type="text" name="notes">
    <label>pin to dashboard:</label>
    <input type="checkbox" name="pin">
    <input type="submit" value="add recipe">

    <li> <a class="recipes-buttons" href="/recipes">back to all recipes</a></li>
    <li> <a class="recipes-buttons" href="/">back to dashboard</a></li>
</form>

<%- include('../partials/footer') %>
