* {
  font-family: "Courier New", serif;
  text-transform: lowercase;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}


.hero-image {
  background-color: #f0f0f0;
  background-image: url(https://i.imgur.com/OmIvC1M.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: grid;
  margin: 0;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
}

nav {
  margin: 20px 0px 130px 0px;
  height: 65px;
  display: grid;
}

.nav-group {
  display: flex;
  align-items: center;
  height: 50px;
}

.logo img {
  max-width: 444px;
  padding: 0px 0px 0px 10px;
}

.logo img:hover:not(.active)  {
  background-color: #5C22be;
  border: solid hsl(180, 7%, 34%) .25px;
  max-width: 453px;
  margin: 0px 0px 0px 10px;
  padding: 0px 0px 0px 0px;
}

.logo {
  margin: 15px 0px 0px 40px;
  max-width: 450px;
  height: 68px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}


.title {
  padding: 0px 10px 10px 20px;
}

.show-links {
  font-weight: bold;
  color: whitesmoke;
  text-decoration: none;
}

.nav-links {
  text-decoration: none;
  color: #dbcdb2;
  float: right;
  padding: 10px;
  margin: 60px 120px;
  font-weight: bold;
}

.nav-links:hover:not(.active) {
  background-color:#dbcdb2;
  color: #F0F0F0;
  border: solid #515E5E .25px;
}


ul {
  list-style-type: none;
}

ul .right {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.new-form {
  display: grid;
  grid-template-columns: repeat(1, minmax(auto));
}

.new-form * {
  font-size: 11px;
  color: whitesmoke;
  padding: 10px;
  border: none;
  border-radius: 10px;
}

.new-form input[type="submit"] {
  grid-column: span 2;
  width: 8rem;
  height: 2rem;
  font-size: 10px;
  margin-left: auto;
  color: 	black;
  background-color: #f0f0f0;
}

.dash-recipe {
  display: flex;
  justify-content: space-between;
}

table {
  font-size: 12px;
  color: white;
}

table thead th {
  padding: 10px 0px 20px 0px;
  font-size: 12.5px;
}

table td {
  padding: 10px;
  text-align: center;
}

.tables {
  display: flex;
  justify-content: center;
}

.show-page:hover:not(.active) {
  border: solid #515E5E .25px;
}

.show-page {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
  background-color: #470e17;
  font-size: 12px;
  color: #F0F0F0;
  padding: 30px;
  min-width: 200px;
  min-height: 200px;
  max-width: 600px;
  opacity: 0.9;
  margin-bottom: 100px;
}

.show-page div:nth-child(odd) {
  font-weight: bold;
}

.edit-page:hover:not(.active) {
  border: solid #515E5E .25px;
}

.edit-page {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
  background-color: #6c1b6b;
  font-size: 12px;
  color: #F0F0F0;
  padding: 30px;
  min-width: 200px;
  min-height: 200px;
  max-width: 600px;
  opacity: 0.9;
  margin-bottom: 100px;
}

.edit-page textarea {
  color: 	black;
  background-color: #f0f0f0;
  border: none;
  font-size: 10px;
  border-radius: 10px;
  padding: 10px;
}

.edit-page textarea:hover:not(.active) {
  background-color: white;
}

.edit-page button {
  color: 	black;
  background-color: #f0f0f0;
  width: 8rem;
  height: 2rem;
  font-size: 10px;
  border-radius: 10px;
  padding: 10px;
}


.gro-show-page:hover:not(.active) {
  border: solid #515E5E .25px;
}

.gro-show-page {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
  background-color: #0f6587;
  font-size: 12px;
  color: #F0F0F0;
  padding: 30px;
  min-width: 200px;
  min-height: 200px;
  max-width: 600px;
  opacity: 0.9;
  margin-bottom: 100px;
}

.gro-show-page div:nth-child(odd) {
  font-weight: bold;
}

.gro-edit-page:hover:not(.active) {
  border: solid #515E5E .25px;
}

.gro-edit-page {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
  background-color: #2b6bd0;
  font-size: 12px;
  color: #F0F0F0;
  padding: 30px;
  min-width: 200px;
  min-height: 200px;
  max-width: 600px;
  opacity: 0.9;
  margin-bottom: 100px;
}

.gro-edit-page textarea {
  color: 	black;
  background-color: #f0f0f0;
  border: none;
  font-size: 10px;
  border-radius: 10px;
  padding: 10px;
}
.gro-edit-page textarea:hover:not(.active) {
  background-color: white;
}

.gro-edit-page button {
  color: 	black;
  background-color: #f0f0f0;
  width: 8rem;
  height: 2rem;
  font-size: 10px;
  border-radius: 10px;
  padding: 10px;
}

.edit-recipe-page {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
  background-color: #1aa786;
  font-size: 12px;
  color: #F0F0F0;
  padding: 30px;
  min-width: 200px;
  min-height: 200px;
  max-width: 600px;
  opacity: 0.9;
  margin-bottom: 100px;
}

.edit-recipe-page:hover:not(.active) {
  border: solid #515E5E .25px;
}

.edit-recipe-page textarea {
  color: 	black;
  background-color: #f0f0f0;
  font-size: 10px;
  border-radius: 10px;
  border: none;
  padding: 10px;
}
.edit-recipe-page textarea:hover:not(.active) {
  background-color: white;
}

.edit-recipe-page button {
  color: 	black;
  background-color: #f0f0f0;
  width: 8rem;
  height: 2rem;
  font-size: 10px;
  border-radius: 10px;
  padding: 10px;
}

.new-recipe {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
  background-color: #bd9988;
  font-size: 12px;
  color: #F0F0F0;
  padding: 30px;
  min-width: 200px;
  min-height: 200px;
  max-width: 600px;
  opacity: 0.9;
  margin-bottom: 100px;
}

.new-recipe:hover:not(.active) {
  border: solid #515E5E .25px;
}

.new-recipe textarea {
  color: 	black;
  background-color: #f0f0f0;
  font-size: 10px;
  border-radius: 10px;
  border: none;
  padding: 10px;
}

.new-recipe input {
  color: 	black;
  background-color: #f0f0f0;
  font-size: 10px;
  border-radius: 10px;
  border: none;
  padding: 10px;
}

.new-recipe input:hover:not(.active) {
  background-color: white;
}
.new-recipe textarea:hover:not(.active) {
  background-color: white;
}

#recipe-index-page:hover:not(.active) {
  border: solid #515E5E .25px;
}

#recipe-index-page {
  display: grid;
  grid-gap: 1rem;
  /* background-color: #6c1b6b; */
  /* background-color: #9a80c4; */
  /* background-color: #99af98; */
  background-color: #097057;
  font-size: 12px;
  color: #F0F0F0;
  padding: 30px;
  max-width: 750px;
  opacity: 0.9;
  margin-bottom: 100px;
}

#recipe-index-page a {
  font-size: 14px;
}

#recipe-index-page th {
  font-size: 15px;
}

table #recipe .lists {
  border: white;
}

.pantry-list {
  background-color: #B7AB5B;
  /* border: solid #515E5E .25px; */
  /* background-color: #b4c9de; */
  display: grid;
  width: 300px;
  padding: 5px;
  opacity: 0.9;
}
.pantry-list:hover:not(.active) {
  border: solid #515E5E .25px;
}

.grocery-list {
  background-color: #AA7E9C;
  /* background-color: #dbcdb2; */
  display: grid;
  width: 300px;
  margin: 0px 20px;
  padding: 5px;
  opacity: 0.9;
}
.grocery-list:hover:not(.active) {
  border: solid #515E5E .25px;
}

.recipe-list {
  background-color: #6A0D6B;
  display: grid;
  width: 300px;
  padding: 5px;
  opacity: 0.9;
}

.recipe-list:hover:not(.active) {
  border: solid #515E5E .25px;
}

.items-buttons {
  background-color: #f0f0f0;
  color: black;
}
.items-buttons:hover:not(.active) {
  background-color: white;
}

.groceries-buttons {
  background-color: #f0f0f0;
  color: black;
}
.groceries-buttons:hover:not(.active) {
  background-color: white;
}

.general-buttons {
  margin-top: 30px;
  background-color: #f0f0f0;
  color:  black;
}
.general-buttons:hover:not(.active) {
  background-color: white;
}

.recipes-buttons {
  margin-top: 30px;
  background-color: #f0f0f0;
  color:  black;
}
.recipes-buttons:hover:not(.active) {
  background-color: white;
}

.x {
  background-color: #f0f0f0;
  color: black;
  border: none;
  border-radius: 8px;
}
.x:hover:not(.active) {
  background-color: white;
}

pre {
  white-space: pre-wrap; 
}

.show-links {
  color: white;
  font-style: italic;
  font-size: 11px;
}

.show-links:hover:not(.active) {
  font-weight: normal;
}

*:focus {
  outline: none;
}

footer {
  margin-top: 80px;
  padding-right: 30px;
  width: 100vw;
  text-align: right;
  font-size: 12px;
}


@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

  nav {
    height: 65px;
    width: 100%;
  }

  .logo img {
    max-width: 320px;
    padding: 0px 0px 0px 10px;
  }

  .logo img:hover:not(.active)  {
    max-width: 320px;
    margin: 0px 0px 0px 10px;
    padding: 0px 0px 0px 0px;
  }

  .logo {
    margin: -400px 0px 0px 22px;
    max-width: 320px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav {
    margin-left: -75px;
  }

  main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 300px;
    margin-left: 35px;
    height: 100vh;
    margin-top: 150px;
  }

  body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  nav {
    margin: 20px 0px 130px 0px;
    height: 65px;
    width: 100vw;
    display: grid;
  }

  .nav-group {
    display: flex;
    align-items: center;
    height: 50px;
  }

  .nav-links {
    padding: 10px;
    margin: 10px 30px;
  }

  .new-form * {
    padding: 10px;
    border: none;
    border-radius: 10px;
  }

  .new-form input[type="submit"] {
    grid-column: span 2;
    width: 8rem;
    height: 2rem;
    font-size: 10px;
    margin-left: auto;
  }

  .dash-recipe {
    display: flex;
    justify-content: space-between;
  }

  .show-page {
    margin-top: -525px;
    margin-bottom: 0px;
    padding-left: 14px;
    padding-bottom: 10px;
  }

  .edit-page {
    margin-top: -525px;
    margin-bottom: 0px;
  }

  .gro-show-page {
    margin-top: -525px;
    margin-bottom: 0px;
    padding-left: 14px;
    padding-bottom: 10px;
  }

  .gro-edit-page {
    margin-top: -525px;
    margin-bottom: 0px;
  }

  .edit-recipe-page {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1rem;
    background-color: #1aa786;
    font-size: 12px;
    color: #F0F0F0;
    padding: 30px;
    min-width: 200px;
    min-height: 200px;
    max-width: 600px;
    opacity: 0.9;
    margin-bottom: 100px;
  }


  .edit-recipe-page button {
    padding: 10px;
  }

  .new-recipe {
    padding: 30px;
    min-width: 200px;
    min-height: 200px;
    max-width: 600px;
    margin-bottom: 100px;
  }

  #recipe-index-page {
    padding: 30px;
    max-width: 750px;
    margin-bottom: 100px;
  }

  .pantry-list {
    margin-top: 0px;
  }

  .grocery-list {
    margin-top: 40px;
  }

  .recipe-list {
    margin-top: 40px;
    margin-bottom: 50px;
  }

  .general-buttons {
    width: 8rem;
    height: 2rem;
    font-size: 10px;
    margin-top: 10px;
    margin-bottom: -20px;
  }

  .recipes-buttons {
    width: 8rem;
    height: 2rem;
    font-size: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .show-links {
    color: white;
    font-style: italic;
    font-size: 11px;
  }

  footer {
    margin-top: 100px;
    margin-bottom: 0px;
    padding-right: 0px;
    width: 90vw;
    text-align: right;
    font-size: 12px;
  }

}