* {
  font-family: "Cooper Black", Helvetica, sans-serif;
  font: black;
}

body {
  background-image: linear-gradient(to right, white, whitesmoke);
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 4fr 1fr;
  grid-template-areas: 
    "nav nav nav"
    "table1 table2 table3"
}

body > nav {
  grid-area: nav;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
}

body > #pantry-list {
  grid-area: table1;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

body > #grocery-list {
  grid-area: table2;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

body > #recipe-list {
  grid-area: table3;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

nav {
  background-color: black;
  margin: 20px;
  display: flex;
  padding: 0px 10px;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

nav > a:hover {
  color: white;
  background-color: #e68c69;
}

nav > a.active {
  color: white;
}

.new-form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, minmax(auto, 22rem));
}


.new-form *, .add-destination-form *, .add-ticket-form * {
  font-size: 14px;
  color: black;
  padding: 10px;
  border: none;
  border-radius: 10px;
}

.add-destination-form, .add-ticket-form {
  margin-top: 50px;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
}

.add-destination-form input[type="submit"] {
  width: 9.5rem;
  grid-column: 2 / 3;
  margin-bottom: 2rem;
}

.new-form input[type="submit"] {
  grid-column: span 2;
  width: 10rem;
  margin-left: auto;
  color: 	black;
}

table {
  font-size: 14px;
  color: black;
}

table thead th {
  padding: 10px;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  font-size: 18px;
}

table td {
  padding: 10px;
  text-align: center;
}


.show-page {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
  background-color: gray;
}

.show-page div:nth-child(even) {
  font-weight: bold;
}

.title {
  color: black;
  font-size: 50px;
  -webkit-text-stroke: 2px white;
}

a {
  text-decoration: none;
  color: white;
}

#pantry-list {
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
}

#grocery-list {
  background-color: darkgray;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;

}

#recipe-list {
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
}