* {
  font-family: "Courier New", serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image {
  background-image: url(https://i.imgur.com/OmIvC1M.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: grid;
  margin: 0;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
}

nav {
  margin: 10px 0px 140px 0px;
  height: 65px;
  width: 100vw;
  display: grid;
}

.nav-group {
  display: flex;
  align-items: center;
  height: 50px;
}

.title {
  color: #F0F0F0;
  font-family: Malina1;
  font-size: 50px;
  -webkit-text-stroke: 2px #94C6A3;
  text-decoration: none;
  padding: 0px 10px 10px 20px;
}

.title:hover:not(.active) {
  background-color: #94C6A3;
  color: #94C6A3;
  font-family: Malina1;
  font-size: 50px;
  -webkit-text-stroke: 2px #F0F0F0;
  border: solid #515E5E .25px;
}

.show-links {
  font-weight: bold;
  color: green;
  text-decoration: none;
}

.nav-links {
  text-decoration: none;
  color: #268f20;
  float: right;
  padding: 10px;
  margin-right: auto;
}

.nav-right {
  margin-top: 20px;
  display: grid;
  float: right;
}

.nav-links:hover:not(.active) {
  background-color:#268f20;
  color: #F0F0F0;
  border: solid #515E5E .25px;
}


ul {
  list-style-type: none;
}

ul .right {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.new-form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(1, minmax(auto));
}

.new-form * {
  font-size: 10px;
  color: #F0F0F0;
  padding: 10px;
  border: none;
  border-radius: 10px;
}


.new-form input[type="submit"] {
  grid-column: span 2;
  width: 8rem;
  height: 2rem;
  font-size: 10px;
  margin-left: auto;
  color: 	green;
  background-color: #f0f0f0;
}

table {
  font-size: 11px;
  color: #F0F0F0;
}

table thead th {
  padding: 10px;
  font-size: 12px;
}

table td {
  padding: 10px;
  text-align: center;
}

.tables {
  display: flex;
  justify-content: center;

}

.show-page {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
  background-color: #D2869F;
  font-size: 12px;
  color: #F0F0F0;
  padding: 30px;
}

.show-page div:nth-child(even) {
  font-weight: bold;
}

.pantry-list {
  background-color: #B7AB5B;
  /* border: solid #515E5E .25px; */
  /* background-color: #b4c9de; */
  display: grid;
  width: 300px;
  padding: 5px;
  opacity: 0.9;
}
.pantry-list:hover:not(.active) {
  border: solid #515E5E .25px;
}

.grocery-list {
  /* background-color: #9CDDDA; */
  background-color: #AA7E9C;
  /* background-color: #dbcdb2; */
  display: grid;
  width: 300px;
  margin: 0px 20px;
  padding: 5px;
  opacity: 0.9;
}
.grocery-list:hover:not(.active) {
  border: solid #515E5E .25px;
}

.recipe-list {
  /* background-color: #C38DF6; */
  background-color: #6A0D6B;
  /* background-color: #5C22be; */
  /* border: solid #515E5E .25px; */
  display: grid;
  width: 300px;
  padding: 5px;
  opacity: 0.9;
}

.recipe-list:hover:not(.active) {
  border: solid #515E5E .25px;
}

.items-buttons {
  background-color: #f0f0f0;
  color: #4e9f46;
}

.groceries-buttons {
  background-color: #f0f0f0;
  color: #4e9f46;
}

.recipes-buttons {
  background-color: #f0f0f0;
  color: #4e9f46;
}

.x {
  background-color: #f0f0f0;
  color: #4e9f46;
  border: none;
  border-radius: 8px;
}