<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
  <title>pantry parser</title>
  <style>
    body { margin: 0; }
    canvas { display: block; }
  </style>
  <!-- Google Icon Fonts used by Materialize -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
    <nav>
      <div>
        <a href="/items" class="title">pantry parser</a>
        <ul class="right">
            <li> <a href="/recipes"><i class="material-icons left">trending_flat</i>all recipes</a>
          <li>
          <% if (user) { %>
            <a href="/logout"><i class="material-icons left">trending_flat</i>log out</a>
          <% } else { %>
            <a href="/auth/google"><i class="material-icons left">vpn_key</i>login with google</a>
          <% } %>
          </li>
        </ul>
      </div>
    </nav>
  <main>
