<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
  <title>pantry parser</title>
  <style>
  </style>
  <!-- Google Icon Fonts used by Materialize -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<div id="outer-div">
  <body class="hero-image">
    <nav>
        <ul class='nav'>
          <li><a href="/" class="title">pantry parser</a></li>
          <div class="nav-right">
            <% if (user) { %>
              <a class="nav-links" href="/logout">log out</a>
            <% } else { %>
              <a class="nav-links" href="/auth/google">login with google</a>
            <% } %>
          </div>
        </ul>
    </nav>
    <main>
