<%- include('../partials/header') %>

  <section class="show-page">
    <div>grocery</div>
    <div><%= grocery.grocery %></div>
    <div>quantity</div>
    <div><%= grocery.quantity %></div>
    <div><a href="/">go back</a></div>
    <button type="submit" class="edit-button">edit item</button>  
  </section>


<%- include('../partials/footer') %>