<%- include('../partials/header') %>

  <section class="show-page">
    <div>grocery</div>
    <div><%= grocery.grocery %></div>
    <div>quantity</div>
    <div><%= grocery.quantity %></div>
  </section>


<%- include('../partials/footer') %>